.content {
    position: relative;
    z-index: 3;
}

#no, #yes {
    position: absolute;
    display: inline-block;
    width: 19%; /* Đặt chiều rộng cho nút */
    font-size: 16px; /* Kích thước chữ cho nút */
    padding: 10px; /* Thêm padding cho nút */
    border-radius: 20px;
}

#no {
    left: 35%; 
    top: 40vh;
    -webkit-transition: all 0.2s ease-out;
}

#yes {
    left: 70%; 
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
}

header h2 {
    font-family: 'Pacifico';
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
}

header h4 {
    font-family: 'Pacifico';
    text-align: center;
}

/* Media Queries cho các thiết bị nhỏ hơn */
@media only screen and (max-width: 600px) {
    header h2 {
        font-size: 15px; /* Kích thước chữ cho tiêu đề */
        
    }
    header h4 {
        font-size: 13px; /* Kích thước chữ cho mô tả */
    }
    #no, #yes {
        width: 50%; /* Đặt chiều rộng cho nút trên mobile */
        font-size: 41px; /* Kích thước chữ cho nút trên mobile */
        left: 10%; /* Đặt vị trí cho nút */
    }
    #yes {
        left: 10%; /* Đặt vị trí cho nút "yes" */
        top: 50vh; /* Đặt vị trí cho nút "yes" */
    }
    #no {
        left: 10%; /* Đặt vị trí cho nút "no" */
        top: 60vh; /* Đặt vị trí cho nút "no" */
    }
}